https://www.youtube.com/watch?v=vug4cSVSfgk


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <figure>
                <a href=""><img src="" alt="Logotipo Jenifer GP"></a>
            </figure>
            <ul class="menu">
                <li><a href="">Sobre mim</a></li>
                <li><a href="">Reveiws sobre Jenifer</a></li>
                <li><a href="">Galeria de fotos e vídeos</a></li>
                <li><a href="">Atendimento</a></li>
                <li><a href="">Valores</a></li>
                <li><a href="">- Localidade</a></li>
                <li>Horário de atendimento</li>
            </ol>
        </nav>
    </header>
    <main>
        <header>
            <figure>
                <img src="" alt="Jenifer GP">
            </figure>
            <h1>Jenifer GP</h1>
            <span>Disponibilidade das <time>12hs até as 20h</time></span>
            <div class="informations">
                <div class="valuePerHour">
                    <span>R$ 450/h</span>
                    <a href="#values">Ver valores</a>
                </div>
                <div class="midias">
                    <span>20 mídias</span>
                    <a href="#gallery">Ver galeria</a>
                </div>
                <div class="reviews">
                    <span>13</span>
                    <p>Ver reviews</p>
                </div>
                <ul class="moreInformation">
                    <li class="age">29 anos</span>
                    <li class="withLocation">Com - Local</span>
                    <li class="neighborhoodCityAndState">Butantã, São Paulo - SP</li>
                    <li class="onlyMen">Atende apenas homens</li>
                </div>
                <a href="" title="WhatsApp">Ver WhatsApp</a>
            </div>

        </header>
        <section class="description">
            <h2>Descrição</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium laudantium sequi reprehenderit non, delectus iure ex, veniam nihil ratione doloribus exercitationem qui fugit maxime enim quo harum voluptates repellendus reiciendis.</p>
        </section>

        <section class="detailsAboutMe">
            <h2>Detalhes sobre mim</h2>
            <div class="gender">
                <h3>Genero</h3>
                <span>Mulher</span>
                <p>Mulher Cisgênero. Nasceu do sexo feminino e identifica-se como mulher.</p>
            </div>

            <div class="sex">
                <h3>Sexo</h3>
                <span>Feminino</span>
                <p>Possui vagina</p>
            </div>

            <div class="sexualPreference">
                <h3>Preferência sexual</h3>
                <span>Passivo</span>
                <p>Recebe penetração</p>
            </div>

            <div class="weight">
                <h3>Peso</h3>
                <span>62 kg</span>
            </div>

            <div class="height">
                <h3>Altura</h3>
                <span>1.70m</span>
            </div>

            <div class="ethnicity">
                <strong>Etnia</strong>
                <span>Morena</span>
            </div>

            <div class="eyeColor">
                <strong>Cor dos olhos</strong>
                <span>Preto</span>
            </div>

            <div class="hairStyle">
                <strong>Estilo do cabelo</strong>
                <span>Preto</span>
            </div>

            <div class="hairSize">
                <strong>Tamanho do cabelo</strong>
                <span>Longo</span>
            </div>

            <div class="footSize">
                <strong>Tamanho do pé</strong>
                <span>36</span>
            </div>
            <div class="Silicone">
                <strong>Silicone</strong>
                <span>Não</span>
            </div>

            <div class="tattoos">
                <strong>Tatuagens</strong>
                <span>Sim</span>
            </div>

            <div class="Piercings">
                <strong>Piercings</strong>
                <span>Sim</span>
            </div>

            <div class="smoker">
                <strong>Não</strong>
                <span>Sim</span>
            </div>

            <div class="languages">
                <strong>Idiomas</strong>
                <span>Portugues</span>
            </div>
        </section>

        <section class="reviews">
            <h2>Reviews sobre mim</h2>
            <article>
                <header>
                    <figure>
                        <img src="" alt="">
                    </figure>
                    <div class="clients">
                        <h3>Rodrigo Vieira</h3>
                        <span>Escrito há <time datetime="">9 meses</time></span>
                        <p><span></span></p>
                    </div>
                </header>
            </article>
        </section>

        <section class="gallery">
            <h2>Galeria de fotos e vídeos</h2>
            <nav>
                <ul class="menu">
                    <li>Todos (10)</li>
                    <li>Fotos (6)</li>
                    <li>Vídeos (4)</li>
                </ol>
            </nav>
            <div class="grid">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
                <img src="" alt="">
            </div>
        </section>
        
        <section class="service">
            <h2>Atendimento</h2>
            <div class="serviceClients">
                <ol>
                    <li><strong>Atende:</strong> apenas homens</li>
                    <li><strong>Clientes em conjunto:</strong> apenas 1 cliente</li>
                </ol>
            </div>
            <h3>Serviços oferecidos</h3>
            <details>
                <summary>Sexo anal com preservativo</summary>
            </details>
        </section>

    </main>
    <footer>
        <figure>
            <img src="" alt="Logotipo Jenifer GP">
        </figure>
        <small>Todos os direitos reservados</small>
    </footer>
</body>
</html>
<!-- 
    Mister Faria 
    André Machado 
    coinmarketcap
    https://www.youtube.com/watch?v=_errNQ4NJ6w
    https://www.youtube.com/watch?v=b3yVQl_sRmI
    https://www.youtube.com/watch?v=0RiCqx6J_5c
    https://www.youtube.com/watch?v=vwkHne4uW58
    https://www.youtube.com/watch?v=Ua1i3pJv1Dk
    https://www.youtube.com/watch?v=LcqEbSuHl5I
    https://www.youtube.com/watch?v=Xy5LYAnovhE
    https://www.youtube.com/watch?v=oqCJJWXWcMM
    https://www.youtube.com/watch?v=rCb2J7TFyKc
    https://www.youtube.com/watch?v=bMZBATdS9oc
    https://www.youtube.com/watch?v=0cwBhyeuBZY
    https://www.youtube.com/watch?v=uNAoLB9RXl0   
-->